<div class="container container-fluid mt-5">
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <img src="../../assets/images/npu.gif" alt="" class="responsive-img card-img-left">
      </div>
      <div class="card-block px-2">
        <h4 class="card-title mt-2">Northwestern Polytechnic University</h4>
        <p class="card-text">Masters of Science</p>
        <p class="card-text mt-3">GPA: 3.2</p>
        <p class="card-text mt-3">Graduated: 2015</p>
      </div>
      <div class="w-100"></div>
      <div class="card-footer w-100 text-muted">
        47102 Mission Falls Ct, Fremont, CA 94539
      </div>
    </div>
    <br>
    <div class="card">
      <div class="row no-gutters">
        <div class="card-header border-0">
          <img src="../../assets/images/gnec.png" class="responsive-img card-img-left" alt="">
        </div>
        <div class="col">
          <div class="card-block px-2">
            <h4 class="card-title mt-2">Guru Nanak Engineering College</h4>
            <p class="card-text">Bachelors</p>
            <p class="card-text mt-3">GPA: 3.4</p>
            <p class="card-text mt-3">Graduated: 2014</p>
          </div>
        </div>
      </div>
      <div class="card-footer w-100 text-muted">
        Nagarjuna Sagar Highway, Ranga Reddy District, Ibrahimpatnam, Telangana 501506, India
      </div>
    </div>
</div>
