<div class="content-area bg-danger">
  <div class="row">
    <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let tile of cards">
        <a class="card clickable" routerLink="{{tile.url}}">
            <div class="img-fluid">
                <img src="{{tile.imagePath}}" alt="..." />
            </div>
        </a>
    </div>-->
    <div class="card col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-5 mr-5" *ngFor="let tile of cards">
      <img class="card-img-top" src="{{tile.imagePath}}" alt="Card image cap" routerLink="{{tile.url}}">
      <hr/>
      <div class="card-body">
        <p class="card-text">{{tile.title}}</p>
      </div>
    </div>
  </div>
</div>
