<section id="skills" class="section scrollspy">
    <h3 class="page-title white-text teal">Skills</h3>
    <div class="container">
        <div class="card">
            <div class="card-content">
                <h4 class="brown-text light">HTML</h4>
                <div class="row text-center">
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/html5.png" class="responsive-img">HTML5</div>
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/jade.png" class="responsive-img">Jade</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h4 class="brown-text light">CSS</h4>
                <div class="row text-center">
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/css3.png" class="responsive-img">CSS3</div>
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/sass.png" class="responsive-img">SASS</div>
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/bootstrap.png" class="responsive-img">Bootstrap</div>
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/foundation.png" class="responsive-img">Foundation</div>
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/materialize.png" class="responsive-img">Materialize</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h4 class="brown-text light">Javascript</h4>
                <div class="row text-center">
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/angular.png" class="responsive-img">Angular</div>
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/react.png" class="responsive-img">React</div>
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/javascript.png" class="responsive-img">Javascript</div>
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/jquery.png" class="responsive-img">jQuery</div>
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/nodejs.png" class="responsive-img">Node</div>
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/ionic.png" class="responsive-img">Ionic</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h4 class="brown-text light">Back-End</h4>
                <div class="row text-center">
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/mongodb.png" class="responsive-img">MongoDB</div>
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/java.png" class="responsive-img">Java</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h4 class="brown-text light">Build Tools</h4>
                <div class="row text-center">
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/grunt.png" class="responsive-img">Grunt</div>
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/gulp.png" class="responsive-img">Gulp</div>
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/bower.png" class="responsive-img">Bower</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h4 class="brown-text light">Other</h4>
                <div class="row text-center">
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/github.png" class="responsive-img">Github</div>
                    <div class="col s4 m2"><img alt="" src="../../assets/images/skills/photoshop.png" class="responsive-img">Photoshop</div>
                </div>
            </div>
        </div>
    </div>
</section>
