

    <div class="container-fluid" *ngIf="bioData">
        <div class="row content-container-1">
            <div class="col-xs-6 col-sm-3">
                    <div class="main">
                        <img [attr.src]="Logo" class="logo" />
                        <div class="info">
                        <div>Hello I'm {{bioData.name}}</div>
                        <div>I'm a {{bioData.profession}}</div>
                        <div>Phone No: {{bioData.phone}}</div>
                        <div>Address: {{bioData.address}}</div>
                        <div>e-mail: {{bioData.email}}</div>
                        <div>Linkedin: {{bioData.linkedin}}</div>
                        <div>Website: {{bioData.website}}</div>
                        </div>
                     </div>
            </div>
            <div class="col-xs-6 col-sm-9" style="overflow-y: scroll">
                <div class="side">
                    <div>
                    <h2>Born in India, living and working in <span class="colors theme-color"> United States</span>.</h2>
                    Currently working as Front-end Developer. I love building UI/UX design experiences that improve user's everyday life
                    and I convert the design into responsive HTML5/CSS3 Development.
                    I am always hungry for new challenges and innovations.

                    <br/>Any spare time I have to work on side projects to further my skills so that I can apply these to real projects.
                    </div>
                    <div>
                        <article class="expertise" id="expertise">
                            <h2 class="section-title">My Expertise</h2>
                            <div class="title-border"></div>
                            <ul>
                                <li><i class="fa fa-check-square-o"></i>Front End Development</li>
                                <li><i class="fa fa-check-square-o"></i>Responsive Website Design &amp; Development</li>
                                <li><i class="fa fa-check-square-o"></i>Stationary &amp; Branding</li>
                                <li id="knowledge"><i class="fa fa-check-square-o"></i>Content Strategy, Prototyping, Wireframing</li>
                            </ul>
                        </article>
                    </div>
                    <div>
                        <article class="hobbies">
                            <h2 class="section-title">Hobbies</h2>
                            <div class="title-border"></div>
                            <p>Apart from my profession being my primary hobby, I enjoy photography, travelling, biking, music and gaming. Whenever I get some free time from my busy schedule, I go out for an outing with my friends in some remote place, away from the daily life chaos, those irritating traffic noise around. So typically the day starts with driving to the most exclusive places where I can calm and regain myself. That also includes photography and good some food.</p>
                            <h4>Photography</h4>
                            <p>I developed my photography interest when I bought my very first Camera which was an old <a href="https://www.youtube.com/watch?v=s6MeFsyO4Lg" title="Sony DSC H50" target="_blank">Sony DSC H50</a>. It not only helped me explore my photography instincts but also helped me explore some of my artistic skills altogether. Like every ameteur photographer, my love for photos started with <a href="http://en.wikipedia.org/wiki/Macro_photography" title="Macro Photography" target="_blank">Macro Photography</a>. Despite of some limited features of my old camera, I managed to take some great photos whenever I tried. Then I moved to some <a href="http://en.wikipedia.org/wiki/Shutter_speed" title="Slow Shutter" target="_blank">Slow Shutter</a> skills that helped me attain some more skills and grip on many Photography aspects.</p>
                            <p>As I required a more advanced camera, I chose Canon 700D that came with a stock lens of 18-55mm and bought a 50mm 1.8 Prime lens. I found it more complex than the earlier one but this led me to study about Photography and related skills. I regularly visit some of the best youtube channels to learn more techniques. You can see some of photos I had taken so far.</p>
                            <h4>Travelling</h4>
                            <p>I love doing road trips. Even though I don’t do it frequently due to my work, but whenever I get the opportunity, I like to go out for a relaxed vacation. Among many places I visited, I always get fascinated to go into Himalayas and just see the beauty of those white capped mountains, lovely weather and great sceneries around. In older times when I was studying, I loved to do those small bike trips that in many cases helped to ease out the work pressure.</p>
                            <h4>Music &amp; Gaming</h4>
                            <p>Mostly I am a Deep House Trance listener, but the most favorite Album of mine, which I guess I cant live without is <a href="http://en.wikipedia.org/wiki/Enigma_(musical_project)" title="Enigma" target="_blank">Enigma</a>. Few other artists and Albums that I love to listen are Coldplay, Eminem, A.R Rahman, Kumar Sanu, Udit Narayan, Radiohead, Daft Punk, Deep Forest, Moby and many more.</p>
                            <p>In games I love First Person Shooting and Open World genre. Farcry, GTA, Call of Duty, Battlefield, Need For Speed, WatchDogs etc are fe of my favorite ones. But in sports I love to play and watch Cricket.</p>
                            </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

